html {
	position: absolute;
	width: 100%;
}

h1 {
	font-family: calibri;
	text-align: center;
}

h2 {
	font-size: 1em;
	margin-left: 1em;
}

h3 {
	font-size: 1em;
	margin-left: 2em;
}

p {
	margin-left: 2em;
}

#canvas {
	float: left;
	position: relative;
	width: 50%;
	margin-left: 2%;
}

fieldset {
	float: left;
	position: relative;
	width: 40%;
	margin-left: 2%;
	margin-right: 2%;
	font-family: calibri;
	height: 10em;
}

div {
	float: left;
}
